.main-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.main-main {
  width: 426px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  top: 45%;
  left: 53%;
}
.main-iconframe {
  top: 0px;
  left: 0px;
  width: 35px;
  height: 35px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 12px 5px rgba(255, 255, 255, 0.800000011920929) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5099999904632568);
  animation: pulse 2s infinite;
}
.main-text {
  top: -4px;
  left: 9px;
  color: rgba(255, 255, 255, 1);
  width: 20px;
  height: auto;
  position: absolute;
  font-size: 29px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.main-textframe {
  top: -2px;
  left: 41px;
  width: 376px;
  height: 37px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.main-text1 {
  top: 4px;
  left: 8px;
  color: rgba(255, 255, 255, 1);
  width: 362px;
  height: auto;
  position: absolute;
  font-size: 27px;
  font-style: Regular;
  text-align: left;
  font-family: Bebas Neue;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}


@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}